In [ ]:
#if

In [3]:
num = int(input('임의의 수를 입력하세요..'))

suma = 0
for i in range(num):
    if i % 2 == 0:
        suma += i
    
suma

임의의 수를 입력하세요..10

20

In [4]:
names = {'mary':1520, 'tom':5214, 'park':5478, "sams": 5478}

nam = input('이름을 입력하세요')

if nam in names:
    print(names[nam])
    
else:
    names[nam] = 2000          # 없을 경우 추가

이름을 입력하세요jane

In [5]:
names

{'mary': 1520, 'tom': 5214, 'park': 5478, 'sams': 5478, 'jane': 2000}

In [6]:
score = int(input('정수를 입력하세요'))

if score >= 90:
    print("A학점입니다.")
elif 90 > score >= 80 :
    print("B학점입니다.")
elif 80 > score >= 70:
    print("C학점입니다.")
else :
    print("D학점입니다.")

정수를 입력하세요75
C학점입니다.

In [ ]:
# For 문

In [12]:
text = 'python is fun'

for c in text:
    if c in 'aeiou':
        print(c.upper(), end='')

OIU

In [13]:
text = 'python is fun'

for i in range(len(text)):
    print(i, text[i])

0 p
1 y
2 t
3 h
4 o
5 n
6
7 i
8 s
9
10 f
11 u
12 n

In [ ]:
text = 'python is fun'

for i,j in enumerate(text):        #enumerate
    print(i,j)

In [ ]:
even_list = []
for i in range(1,21):
    if i%2 == 0:
        even.list.append(i)
even_list

In [ ]:
even_list = []
count = 0
while count < 20:
    if count%2 == 0:
        even_list.append(count)
        count += 1
even_list

In [ ]:
[i for i in range(1,21) if i%2==0]

In [ ]:
count = 0
while count < 10:
     count += 1
    if count < 3:
        continue
    if count > 6:
        break
    print(count)

In [ ]:
x = ['a','b','c','d','e']
y = ['가','나','다','라','마']
L = []

for i in range(len(x))
    L.append(x[i],y[i])
L

In [ ]:
L = []
for i in zip(x,y):
    L.append(i)
L

In [ ]:
text = "computational thinking"
L = []

for i in range(0, len(text), 2):
    L.append(text[i])
L

In [ ]:
count = 0
score_sum = 0
while count < 5:
    score = int(input('정수를 입력하세요'))
    score_sum += score
    count += 1
score_sum/ 5

In [ ]:
text = 'hello world'

for i,j in enumerate(text):
    print(i,j)

In [ ]:
for i in range(1, 10):
    for j in range(1. 10):
        print("{}*{}={2:>2}".format(i, j , i*j)), end=' ')         # 2:> 오른쪽으로 정렬해라 
        
        
    print()